
body{
color:black;
font-size:1em;
line-height: 155.5%;
text-align: left;
margin:0;
padding: 0;

}
#info{  
z-index:1;
font-weight: normal;
}
img, embed{
width: 535px;
}
t{}
#image{
width: 900px;
}
#video{
display:none;	
}
#button{
display:none;	
}
ul{}
#pistes{

display:none;
}
i{

font-style: italic;
}
.print1{
page-break-before:always!important;

}