

 
body{

position:relative;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #f6f6f6 32%, #ededed 71%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 0%,#f6f6f6 32%,#ededed 71%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 0%,#f6f6f6 32%,#ededed 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
float:left;
overflow-x: hidden;
color:red;
} 

#titre{
font-style: italic;
}
 }
 #info{
  
 }
p{

}
#shema{
border:1px solid red;
 	display: inline-block;
 	padding: 20px;
 	margin:20px;
}
ul{
 	
 }
.box{
	display: inline-block;
 }
 .page1 {
 	float: left;
 	border:1px solid red;
 	width:80px;
 	height:110px;
}
 
.page2 {
 float: right;
background: red;
border:1px solid red;
 	width:80px;
 	height:110px;
}
 .page3 {
 	float: left;
 	border:1px solid red;
 	width:80px;
 	height:110px;
}
 
.page4 {
 float: right;
background: red;
border:1px solid red;
 	width:80px;
 	height:110px;
 	transfrom-rotate:40deg;
}
 

 b{
 	color:white;
 	background: red;
 	padding: 2px;
 }
 
 

